*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #00feba, #5b548a);
}

p {
    margin: 0;
}

.card {
    width: 90%;
    /* max-width: 470px; */
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 470px;
    align-self: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    /* background: #ebfffc; */
    background: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #ebfffc;
}

.weather {
    width: 90%;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.forecast-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.forecast {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
}

.weather-forecast {
    background-color: rgba(0,0,0,0.2);
    border-radius: 1%;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}

.weather-forecast h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}

.weather-forecast h2 {
    font-size: 33px;
    font-weight: 300;
}

.weather-forecast h3 {
    font-size: 20px;
    font-weight: 300;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    justify-content: center;
}

.col img {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.humidity-forecast, .wind-forecast {
    font-size: 28px;
    margin-top: -6px;
}

.weather-now, .weather-forecast {
    /* display: none; */
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.wind-icon {
    rotate: 0deg;
}

.humidity-forecast, .wind-forecast {
    font-size: 1.35em;
}

/* Media queries */
@media only screen and (min-width: 600px) {
    .search{
        align-self: end;
    }
}

@media only screen and (min-width: 750px) {
    /* .card {
        flex-direction: row;
    }
    
    .weather{
        align-self: flex-start;
    } */
    .forecast {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .weather-forecast {
        margin: 20px 10px;
        width: 40%;
    }

    .weather-forecast h1 {
        font-size: 1.8em;
    }

    .weather-forecast h2 {
        font-size: 1.6em;
    }

    .humidity-forecast, .wind-forecast {
        font-size: 1.2em;
    }

    .forecast-icon{
        width: 50px;
    }

    .details-forecast img {
        width: 25px;
    } 
}

@media only screen and (min-width: 1000px) {
    /* .card {
        flex-direction: row;
    }
    
    .weather{
        align-self: flex-start;
    } */
    .forecast {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .weather-forecast {
        margin: 20px 10px;
        width: 20%;
    }

    .weather-forecast h1 {
        font-size: 1.7em;
    }

    .weather-forecast h2 {
        font-size: 1.5em;
    }

    .humidity-forecast, .wind-forecast {
        font-size: 1em;
    }

    .forecast-icon{
        width: 40px;
    }

    .details-forecast img {
        width: 20px;
    } 
}